html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed !important;
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  color: rgb(250, 60, 250) !important;
  font-size: 2.5em !important;
  margin: 0 0 10px 0 !important;
  font-family: "Press Start 2P", cursive;
}

.sb-container {
  width: 90%;
}

:-moz-placeholder {
  text-align: center;
}

.centric {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App {
  padding-top: 20px;
  font-family: "Bitter", serif;
}

@media only screen and (max-width: 600px) {
  .centric {
    width: 90%;
  }
}

@media only screen and (min-width: 600px) {
  .centric {
    width: 60%;
  }
}
